Django==5.2.7
djangorestframework==3.16.1
psycopg2-binary==2.9.11
flake8==7.3.0
black==25.9.0
django-debug-toolbar==6.0.0
djangorestframework-simplejwt==5.5.1
minio==7.2.7
Pillow==10.4.0
django-cors-headers==4.7.0
gunicorn==23.0.0
whitenoise==6.8.2